@import "tailwindcss";
:root {
  --background: #FCFCFD;
  --foreground: #111827;
  --primary:#2E5BFF;
  --accent: #D4AF37;
  --card:#FFFFFF;
  --border:#E5E7EB;
  --muted:#6B7280
}
.dark{
 --background: #0B1330;
  --foreground: #F8FAFC;
  --primary:#5B7FFF;
  --accent: #F4C95D;
  --card:#111C44;
  --border:#27345F;
  --muted: #94A3B8;
}
@theme inline{
  --color-background:var(--background);
  --color-foreground:var(--foreground);
  --color-primary:var(--primary);
  --color-accent:var(--accent);
  --color-card:var(--card);
  --color-border:var(--border);
  --color-muted:var(--muted);
}
@custom-variant dark (&:where(.dark *));

body{
  background: var(--background);
  color:var(--foreground)
}
html, body, #root{
  height:100%;
}


